<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     esto es otro titulo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ng-container *ngFor="let data of Devices">
    <div>
      <p>{{data.name}}</p>
      <p>{{data.id}}</p>
      <button (click)="connect(data.address)">conectar</button>
    </div>
  </ng-container>

  </div>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>

<!--
name
address
id
class
-->